.body1{
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  height: 700px;
  margin-top: 50px;
  border: 1px solid black ;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
#left-section{
  border-width:1px ;

  border: 1px solid black ;
  border-top: none;
}
#account-user {
  
  display: grid;
  grid-template-columns: 1fr 2.5fr ;
  height: 75px;
  padding-top: 30px;
  padding-bottom: 40px;
}
#account-user img{
  height: 75px;
  width: 75px;
  border-radius: 60px;
}
#account-user .in4 p {
  display: grid;
  justify-content: start;
  margin-top: 5px;
  font-size: 16px;
}
#account-user .in4 p1{
  display: grid;
  justify-content: start;
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 25px;
}
#my-account,
#shopping-list{
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  justify-content: center;
  padding-top: 20px;
}
#my-account svg,
#shopping-list svg{
  height: 30px;
  width: 30px;
  margin-right: 0px;
}
#my-account .icon,
#shopping-list .icon{
  display: grid;
  justify-content: end;
  margin-right: 10px;
}
#my-account .text,
#shopping-list .text{
  display: grid;
  justify-content: start;
  font-size: 20px;
}

#right-section{
  display: grid;
  grid-template-rows:100px 1fr ;
}
#right-section .title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: bolder;
}
#right-section .body{
  display: flex  ;
  flex-direction: column;
  justify-content: center;
}
#right-section .body img{
  width: 120px;
  padding-bottom: 20px;
}
