#filterSidebar.active {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 20px;
  width: 250px;
  border-right: 1px solid var(--text-color);
  position: sticky;
  top: 50px;
  z-index: 50;
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
  transition: ease-in-out 500ms;
}
#filterSidebar {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 20px;
  padding-top: 10px;
  width: 0px;
  height: calc(100vh - 60px);
  overflow: hidden;
  transition: ease-in-out 500ms;
}
#filterSidebar h4 {
  white-space: nowrap;
  overflow: hidden;
}
#filterSidebar .filter-section,
#filterSidebar .filter-section .filter-group,
#filterSidebar .filter-section .filter-price {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

#filterSidebar .filter-section .price-inputs {
  display: flex;
  gap: 10px;
  flex-direction: row;
  background-color: aliceblue;
  padding: 10px;
  align-items: center;
}

#filterSidebar .filter-section .price-inputs input {
  padding: 5px;
  width: 40%;
  border: none;
}

#filterSidebar .filter-section .price-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  flex-wrap: wrap;
}

#filterSidebar .filter-section .price-select button {
  background-color: aliceblue;
  padding: 10px;
  flex-grow: 1;
}

#filterSidebar .filter-section .filter-size {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

#filterSidebar .filter-section .filter-size button {
  border: 1px solid rgb(216, 216, 216);
  padding: 0.5vw;
  border-radius: 5px;
}

#filterSidebar .filter-section .filter-size button.active {
  border: 1.5px solid var(--text-color);
}

#filterSidebar .filter-section .filter-color {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1vw;
}

#filterSidebar .filter-section .filter-color .color-option {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  justify-content: flex-start;
  font-size: 12px;
  color: gray;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.color-option button {
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  cursor: pointer;
}

.color-option button.active {
  box-shadow: 0 0 0 3px white, 0 0 0 4px var(--text-color);
}

@media only screen and (max-width: 1080px) {
  #filterSidebar.active {
    gap: 10px;
    width: 200px;
  }
}
