#add-product {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 15px;
}

#add-product .left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#add-product .right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#add-product .left a {
  height: 400px;
  border: 2px dashed var(--accent-color);
}

#add-product .container-input {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: larger;
  font-weight: 600;
}

#add-product .container-input input {
  border: 2px solid var(--blur-color);
  padding: 8px !important;
  transition: all 500ms;
}

#add-product .container-input select {
  border: 2px solid var(--blur-color);
  padding: 10px 0px !important;
  transition: all 500ms;
}

#add-product .container-input input:focus,
#add-product .container-input select:focus {
  background-color: var(--blur-color);
}

#add-product .container-input-price {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

#add-product .container-input-category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  transition: all 500ms ease-in-out;
}

#container_slide_product {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#slide_product {
  transition: translate 1s;
  display: flex;
  flex-direction: row;
}

.container-card {
  width: 100%;
  flex-shrink: 0;
}

.list-color {
  display: flex;
  gap: 15px;
  align-items: center;
}

.list-color button {
  padding: 0 !important;
  width: 25px;
  height: 25px;
  border-radius: 1000px !important;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.container-input-quantity {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  gap: 10px;
  align-items: center;
}

.container-input-add-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.manage-product-filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  height: 50px;
  transition: all 500ms ease-in-out;
}
.manage-product-filter div {
  font-weight: 600;
}
.manage-product-filter.active {
  overflow: hidden;
  height: 100px;
}
.filter-normal {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr 0.5fr;
  align-items: center;
  gap: 10px;
}

.filter-extend {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  align-items: center;
  gap: 40px;
}

.search-manage {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 10px 15px;
  background-color: aliceblue;
}

.search-manage ipnut:focus {
  color: white;
}

.select-manage {
  display: flex;
  background-color: aliceblue;
  padding: 10px 15px;
  border-radius: 1000px;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.container-input-size {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
