#header {
  padding-left: 2vw;
  padding-right: 2vw;
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color);
}

#menu-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  gap: 2vw;
  color: var(--background-color);
}

#menu-left .icon {
  cursor: pointer;
  position: relative;
}

#menu-left .icon svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#menu-left .icon[name="search-icon"],
#menu-left .icon[name="user-icon"] {
  position: relative;
}
#menu-left .icon[name="search-icon"] svg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
}
#menu-left .icon .box-search {
  z-index: 100;
  position: absolute;
  top: -5px;
  right: -10px;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 35px;
  border-radius: 1000px;
  /* transition: 1000ms ease-in-out; */
}
#menu-left .icon .box-search input {
  padding-left: 20px;
  width: 100%;
  align-self: center;
  border: none !important;
  background: none !important;
  outline: none !important;
}
#menu-left .icon .box-search.hidden input {
  display: none;
}
#menu-left .icon .box-search.hidden {
  width: 70px;
  background: none;
}
#menu-left .icon .box-search.show {
  width: 50vw;
  background-color: aliceblue;
}
